/* Clearing defaults */


body, ul, h1, h2, h3, h4, li, p, a
{
    margin:0;
    padding:0;
}
a
{
    text-decoration:none;
    color:#00bfe7;
    color:#ff6464;
    transition:color .3s;
}
a:hover
{
    color:white;
}


body
{
    width:100%;
    max-width:960px;
    margin:0 auto;
    
    font-family:"Open Sans", sans-serif;

    background-color:#250000;
    color:#bcbcbc;
}
p
{
    font-size:1em;
}
h1,h2,h3,h4,h5,h6
{
    font-family:"Roboto Condensed", sans-serif;
    color:white;
}

#header-content
{
    display:block;
    position:relative;
    padding:0px 20px;
}

/* Navbar styles */
nav
{
    display:block;
    width:100%;
}
nav ul
{
    list-style-type:none;
    padding:20px 0;
}
nav li
{
    display:inline-block;
}
nav li.divider
{
    margin-right:15px;
    color:gray;
}
nav a
{

    margin-right:15px;
    font-size:.9em;
    transition:color .3s;
}

.active
{
    color:#ff3434;
    color:white;
    font-weight:bold;
}

/*Preview listings*/

.year-info
{
    padding:5px;
    text-align:center;
    margin-top:5px;
    font-size:.8em;
}

.article-preview-listing
{
    margin-top:20px;
}

.article-preview
{
    width:100%;
    min-height:150px;
    box-sizing:border-box;
    margin-bottom:10px;
    margin-right:10px;
    position:relative;
    box-shadow:2px 2px 9px -4px black;
    background-color:#180000;

}
.article-preview .article-desc
{
    padding:20px;
}
.article-preview h3
{
    color:#d8d8d8;
    font-family:"Roboto Condensed", sans-serif;
}
.article-preview p
{
    margin-top:10px;
    font-size:.950em;
}

.article-preview .read-more
{
    display:inline-block;
    position:absolute;
    right:20px;
    margin-bottom:5px;
}
.article-preview .read-more li, .article-preview .post-meta li
{
    display:inline;
}
.article-preview .read-more a
{
    font-size:.8em;
}
.article-preview .read-more a:hover
{
}

.article-preview .post-meta
{
    display:inline-block;
    position:absolute;
    left:20px;
}

.article-preview .post-meta-banner
{
    display:block;
    padding:5px 10px;
    box-sizing:border-box;
    width:100%;
    min-height:30px;
    position:relative;
    background-color:#3b0000;

}

.article-preview .meta-value, .article-preview .meta-label
{
    display:inline-block;
    font-size:.8em;
}
.article-preview .meta-value
{
    margin-right:5px;
}
.meta-tags
{
    color:#ff8500;
    margin-right:5px;
}
.article-preview .divider
{
    margin-right:5px;
    margin-left:5px;
    color:gray;
}
/* ---------------------------------
/* Single paged posts 
*/ 

.post
{
    max-width:800px;
    margin:0 auto;
    margin-bottom:40px;
    box-shadow:2px 2px 9px -4px black;
    background-color:#180000;
    padding:20px;
}

.post-body
{
    margin-top:10px;
    min-height:500px;
}
.post-body p
{
    margin-top:10px;
    line-height:1.8;
}
.post-title
{
}

@media (max-width: 400px) {

    .post-title 
    {
	font-size:.9em;
    }
    .article-preview .post-meta-banner
    {
	position:static;
    }
    .post-body p
    {
	line-height:1.4;
	font-size:.840em;
    }
    .article-preview .post-meta 
    {
	position:static;
	display:block;
	width:100%;
    }
    .article-preview .post-meta li
    {
	display:block;
    }

    .artcile-preview .read-more
    {
	display:block;
	position:static;
    }
    .article-preview .read-more li
    {
	display:block;
    }
    .article-preview .divider
    {
	display:none;
	visibility:hidden;
    }
    
}
.post-body h4, .post-body h3, .post-body h5, .post-body h6
{
    margin-top:20px;
    color:white;
}

.post .social-icons
{
    text-align:right;
    margin-top:20px;
}
.post .time
{
    display:block;
    color:gray;
    font-size:.890em;
    margin-top:10px;
}
.post .meta-tags
{ 
    display:inline;
    margin-right:5px;
}

.section-close-dots
{
    text-align:center;
    font-size:4em;
    color:silver;
    font-weight:bold;
}
.section-close-dots:hover
{
    cursor:pointer;
}

