/* Clearing defaults */


body, ul, h1, h2, h3, h4, li, p, a
{
    margin:0;
    padding:0;
}
a
{
    text-decoration:none;
    color:#00bfe7;
    transition:color .3s;
}
a:hover
{
    color:black;
}


body
{
    width:100%;
    max-width:960px;
    margin:0 auto;
    
    font-family:"Open Sans", sans-serif;

    background-color:white;
    color:#373737;
}
p
{
    font-size:1em;
}
h1,h2,h3,h4,h5,h6
{
    font-family:"Roboto Condensed", sans-serif;
}

#header-content
{
    border-bottom:1px solid white;
    display:block;
    background-color:white;
    position:relative;
}

/* Navbar styles */
nav
{
    display:block;
    width:100%;
}
nav ul
{
    list-style-type:none;
    padding:20px 0;
}
nav li
{
    display:inline-block;
}
nav a
{
    margin-right:25px;

    font-weight:bold;
    color:#00bfe7;
    font-size:.9em;
    letter-spacing:.8px;
    font-family:"Roboto Condensed", sans-serif;

    transition:color .3s;
}

nav a:hover
{
    color:gray;
}

nav .active
{
    color:#007f99;
}
/*Preview listings*/

.year-info
{
    padding:5px;
    text-align:center;
    margin-top:10px;
    font-size:.8em;
    box-shadow:0px 2px 3px -3px silver;
}

.article-preview-listing
{
    margin-top:20px;
}

.article-preview
{
    width:100%;
    height:150px;
    box-sizing:border-box;
    margin-bottom:10px;
    margin-right:10px;
    border:1px solid #f2f2f2;
    position:relative;
    box-shadow:1px 1px 10px -8px gray;

}
.article-preview .article-desc
{
    padding:20px;
}
.article-preview h3
{
    color:#4d4d4d;
    font-family:"Roboto Condensed", sans-serif;
}
.article-preview p
{
    margin-top:10px;
    font-size:.950em;
}
.article-preview .read-more
{
    display:block;
    text-align:right;
    margin-bottom:5px;
}
.article-preview .read-more a
{
    color:#00bfe7;
    font-size:.8em;
}
.article-preview .post-meta
{
    display:block;
    position:absolute;
    bottom:0px;
    right:0px;
    padding:5px 10px;
    box-sizing:border-box;
    width:100%;

    text-align:right;
    background-color:#f7f7f7;

}

.article-preview .meta-value, .article-preview .meta-label
{
    display:inline-block;
    font-size:.8em;
}
.article-preview .meta-value
{
    margin-right:5px;
}

/* Single paged posts */
.post
{
    max-width:800px;
    margin:0 auto;
    margin-bottom:40px;
    border-bottom:1px solid silver;
}

.post-body
{
    margin-top:10px;
    min-height:500px;
}
.post-body p
{
    margin-top:10px;
    line-height:1.8;
}
.post-body h4, .post-body h3, .post-body h5, .post-body h6
{
    margin-top:20px;
}


